nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: gray;
    background-size: cover;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

ul li {
    display: inline-block;
    padding: 5px 20px;
    background-color: rgb(0, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 15px;
    margin: 10px 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

a:hover {
    color: rgb(0, 132, 255);
}


body {

    font-family: Georgia, 'Times New Roman', Times, serif;





}

.background {
    position: relative;
    background: url(../img/1366_2000.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

nav:hover {
    background-color: #adc2d8;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.highlighted {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #ff9800;
}

.content {
    position:  relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
    line-height: 1.6;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }